<style>
	.error {   color : Red;  }
</style>

<h3> Angular Form Validations using  Model Driven  </h3>
<hr/>


<form [formGroup]="customerForm"   (submit)="submit_click()">

    First Name :   <input  formControlName="fname"   />
    <span  class="error"  *ngIf="customerForm.controls.fname.invalid && customerForm.controls.fname.dirty">
      First name is required
    </span>
    <br/><br/>

    Last Name :    <input  formControlName="lname"   />
    <span  class="error"  *ngIf="customerForm.controls.lname.invalid && customerForm.controls.lname.dirty">
      Last name is required
    </span>
    <br/><br/>

    City Name  : <input formControlName="city"  />
    <span  class="error"  *ngIf="customerForm.controls.city.invalid && customerForm.controls.city.dirty">
    No. of characters should be in between 3 and 10
  </span>
  <br><br>

   E-mail  :
  <input  formControlName="email"  />
  <span  class="error"  *ngIf="customerForm.controls.email.invalid && customerForm.controls.email.dirty">
    Enter proper e-mail id
  </span>
  <br><br>

  Pincode :
  <input 	formControlName="pincode"  />
    <span  class="error"  *ngIf="customerForm.controls.pincode.invalid && customerForm.controls.pincode.dirty">
      Pincode should be six digits.
    </span>
  <br><br>

  <br><br>
  <div>
  <select formControlName="dept_drop">
    <option disabled>Select departments</option>
   
    <option *ngFor="let dept of departments">{{dept}}</option>
  </select>
</div>
<br/><br/>
  <label><input type="checkbox" formControlName="checkbx"> Accept it</label>
  <div style="color: red; padding-top: 0.2rem" *ngIf="customerForm.hasError('required', 'checkbx')">
    Required
  </div>
 


    <input type="submit" [disabled]="customerForm.invalid"  value="Register" />

</form>

<hr/>
<p> {{result | json}}</p>