<!-- <h1 [appMyshadow]="'10px 5px 6px blue'">This is my first attribute directive</h1>
<h1 [appMyshadow]="'10px 6px 7px green'">This is my first attribute directive</h1>

<hr>
<h3 >Using custom structural directives  in Angular</h3>
<hr/> -->
<app-product></app-product>

<!-- <div *appIsadmin="'mith'">
  <p> "Smith" This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>

</div>

<div *appIsadmin="'Scott'">
    <p>"scott" This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>
  
  </div>

  <div *appIsadmin="'Robert'">
    <p> "Robert" This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>
  
  </div>

  <div *appIsadmin="'sam'">
    <p>"Sam" divThis div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. This div contains information that should be display for Admin User. </p>
  
  </div> -->
