<!-- <h1 [appMyshadow]="'10px 5px 6px blue'">This is my first attribute directive</h1>
<h1 [appMyshadow]="'10px 6px 7px green'">This is my first attribute directive</h1>

<hr>
<h3 >Using custom structural directives  in Angular</h3>
<hr/> -->
<!-- <app-emp-details-pipe></app-emp-details-pipe> -->
<!-- <app-emp-details-pipe></app-emp-details-pipe> -->
<!-- <app-employee-http-eg></app-employee-http-eg> -->
  <!-- <app-emp-parent-child></app-emp-parent-child> -->
<!-- <app-templatedrivenform-eg></app-templatedrivenform-eg> -->
<!-- <app-modeldriven-eg></app-modeldriven-eg> -->
<!-- <app-product></app-product> -->
<!-- <app-emp-details-pipe></app-emp-details-pipe> -->


<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/product']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/student']">students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/emps']">Employee</a>
    </li>
 
  </ul>

</nav>

<router-outlet></router-outlet>